{% extends "layout.html" %}
{% block content %}
  
<!-- Header -->
<section class="section_header_methodology">
    <div class="container">
      <div class="header_methodology">
        <div class="box">
          <h1 style="font-size: 55px;"><span class="text-logo">Methodology</span></h1>
          <p style="text-align: left;">This is the webpage in our website where we present our methodology. 
          </p>
          <a href="{{url_for('carbon_app.carbon_app_home')}}">
            <button type="button" class="btn btn-primary">Carbon App</button>
          </a>
        </div>

      
        <div class="box">
          <img
            src="{{url_for('static', filename='icons/methodology2.svg')}}"
            width="325"
            height="325"
            alt=""/>
        </div>
      </div>

    </div>
</section>

<!-- Modal -->
<section class="section_header_paper">
  <div class="container">
    <div class="header_paper">
        <h1 style="font-size: 55px;"><span class="text-logo">Material</span></h1>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Paper 
        </button>
     </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Paper - Carbon App</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ul style="list-style: decimal; padding: 10px;">
                <li>Introduce the number of kilomters</li>
                <li>Introduce the type of fuel</li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a class="btn btn-primary" href="https://forwardedu.org/green_digitalization_course" role="button">Link to the course website:</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
  </div>
</section>


{% endblock content %}